[submodule "tech/js/gapp"]
	path = tech/js/gapp
	url = https://github.com/isysd/gapp.git
[submodule "tech/js/guld-vrcave"]
	path = tech/js/guld-vrcave
	url = https://github.com/isysd/guld-vrcave.git
[submodule "life/isysd"]
	path = life/isysd
	url = https://github.com/isysd/isysd.git
